[submodule "blog.python.cz"]
	path = blog.python.cz
	url = https://github.com/pyvec/blog.python.cz
[submodule "pyladies.cz"]
	path = pyladies.cz
	url = git@github.com:encukou/pyladies.cz.git
[submodule "naucse.python.cz"]
	path = naucse.python.cz
	url = https://github.com/pyvec/naucse.python.cz
